@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@keyframes slideIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideOutLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes slideOutRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

.animate-slideIn {
  animation: slideIn 0.5s ease-out;
}

.animate-slideOutLeft {
  animation: slideOutLeft 0.3s ease-out;
}

.animate-slideOutRight {
  animation: slideOutRight 0.3s ease-out;
}